* {
    box-sizing: border-box;
    }
    
    
    header {
    background: #4e4c4c;
    color: white;
    padding: 15px;
    }
    
    body, ul {
    margin: 0;
    padding: 0;
    }

    li {
        list-style: none;
        }

    a {
        text-decoration: none;
    }
    
    .container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    }
    
    header ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    header ul li a:hover {
    color: #b6b6b6;
    }
    
    header ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    
    #logo {
    display: block;
    max-width: 40px;
    }
    
    #sidebar {
        width: 23%;
    }

    #content {
        width: 75%;
    } 


    #main {
        align-items: flex-start;
    }

    #sidebar, #content {
        margin: 15px 0;
        text-shadow: 0 0 black;
        box-shadow: 0 0 4px 1px grey;
        padding: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 10px;
    }

    #sidebar ul li a {
        display: block;
        padding: 10px 0;
        color: rgb(73, 70, 70);
        border-bottom: 1px #9c9898 solid;
    }

    #sidebar ul li a:hover {
        color:#9c9898;
        border-color: #9c9898;
    }

    #sidebar ul li:last-child a {
        border: none;
    }

    #content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border-radius: 10px;
    }

    .product {
        width: 23%;
        background-color: white;
        box-shadow: 0 0 2px 1px #3e4149b5;
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #535050;
        font-weight: lighter;
        height: auto;
    }

    .product:hover {
        -moz-transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -o-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02);
        box-shadow: 0 0 5px 1px grey;
    }

    .product h2 {
        margin: 0 0 15px 0;
        color: rgb(73, 70, 70);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        cursor: pointer;
        font-size: 20px;
    }

    .product h2:hover {
        color: #9c9898;
    }

    .product img {
        max-width: 100%;
    }

    .p-bottom {
        display: flex;
        justify-content: space-between;
    }

    .p-bottom button {
        background: #4e4c4c;
        border: none;
        padding: 5px 10px;
        color: white;
        text-transform: uppercase;
    }

    .p-bottom button:hover {
        background: rgb(117, 124, 133);
        cursor: pointer;
    }

    .p-bottom span {
        font-weight: bold;
        font-size: 17px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #303436;
    }

    footer {
        width: 100%;
        background: #4e4c4c;
        padding: 15px;
    }

    footer a {
        color:white;
        font-size: 14px;
    }

    footer a:hover {
        color: #b6b6b6;
    }

    footer .container > div {
        max-width: 260px;
        width: 100%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    footer .container {
        align-items: flex-start;
    }

footer h3 {
    margin: 0 0 15px 0;
    color: #9c9898
}

footer h3:hover {
        color: #b6b6b6; 
}

.f-links a {
    display: block;
    padding: 0 0 10px 0;
}

.f-links a:hover {
    color: #9c9898
}

.form-subscribe, .social-links {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.form-subscribe input {
    margin-bottom: 15px;
    height: 30px;
    padding: 5px;
}

.form-subscribe button {
    background: #9c9898;
    border: none;
    padding: 5px 10px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
}

.form-subscribe button:hover {
background: #6b6868;
}

.social-links a {
    padding: 0 0 15px 0;
    display: block;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.social-links {
    padding-left: 110px;
}

       @media (max-width: 1010px) {
        .product {
            width: 33%;
        }


        @media (max-width: 830px) {
                footer > div.container {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    }
            
                    footer > div.container > div {
                        text-align: center;
                        padding-left: 0;
                        margin-bottom: 15px;
                    }
            }
    
    @media (max-width: 725px) {
        header .container {
        flex-wrap: wrap;
        justify-content: center;
        }

        header ul {
        flex-direction: column;
        margin-top: 25px;
        width: 100%;
        text-align: center;
        }

        .product {
            width: 40%;
        } 

        #sidebar {
            width: 33%;
            
        }

        #content {
            width: 65%;
        }

        #sidebar, #content {
            min-height: auto;
            border-radius: 10px;
        }
    }

        @media (max-width: 570px) {
            #sidebar {
                width: 100%;
            }
    
            #content {
                width: 100%;
            }

            #sidebar, #content {
                text-align: center;
            }

            }
        }