* {
    box-sizing: border-box;
    }
    
    
    header {
    background: black;
    color: white;
    padding: 15px;
    }
    
    body, ul {
    margin: 0;
    padding: 0;
    }

    li {
        list-style: none;
        }

    a {
        text-decoration: none;
    }
    
    .container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    }
    
    header ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    }
    header ul li a:hover {
    background: #46454b;
    }
    
    header ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    
    #logo {
    display: block;
    max-width: 70px;
    }
    
    




    #sidebar {
        width: 23%;
    }

    #content {
        width: 75%;
    } 

    #main {
        align-items: flex-start;
    }

    #sidebar, #content {
        margin: 15px 0;
        text-shadow: 0 0 black;
        box-shadow: 0 0 4px 1px grey;
        padding: 15px;
        font-family: Arial, Helvetica, sans-serif;
        min-height: 875px;
    }

    #sidebar ul li a {
        display: block;
        padding: 10px 0;
        color: black;
        border-bottom: 1px dashed black;
    }

    #sidebar ul li a:hover {
        color:#133349;
        border-color: grey;
    }

    #sidebar ul li:last-child a {
        border: none;
    }

    #content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product {
        width: 23%;
        background-color: white;
        box-shadow: 0 0 2px 1px #3e4149b5;
        margin-bottom: 15px;
        padding: 15px;
        font-family: Arial;
    }

    .product:hover {
        -moz-transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -o-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02);
        box-shadow: 0 0 5px 1px grey;
    }

    .product h2 {
        margin: 0 0 15px 0;
        color: grey;
        font-family: Arial;
    }

    .product img {
        max-width: 100%;
    }

    .p-bottom {
        display: flex;
        justify-content: space-between;
    }

    .p-bottom button {
        background: #0c3b5a;
        border: none;
        padding: 5px 10px;
        color: white;
    }

    .p-bottom button:hover {
        background: rgb(22, 34, 49);
        cursor: pointer;
    }

    .p-bottom span {
        font-weight: bold;
        font-size: 17px;
        font-family: Arial;
        color: #0c3b5a;
    }

    footer {
        width: 100%;
        background: black;
        color: aliceblue;
        padding: 15px;
    }

    footer a {
        color:aliceblue;
    }

    footer .container > div {
        max-width: 260px;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }

    footer .container {
        align-items: flex-start;
    }

footer h3 {
    margin: 0 0 15px 0;
}

.f-links a {
    display: block;
    padding: 0 0 5px 0;
}

.f-links a:hover {
    text-decoration: underline;
}

.form-subscribe, .social-links {
    display: flex;
    flex-direction: column;
}

.form-subscribe input {
    margin-bottom: 15px;
    height: 30px;
    padding: 5px;
}

.form-subscribe button {
    background: #0c3b5a;
    border: none;
    padding: 5px 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.social-links a {
    padding: 0 0 15px 0;
    display: block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.social-links {
    padding-left: 110px;
}

       @media (max-width: 960px) {
        .product {
            width: 33%;
        }


        @media (max-width: 830px) {
                footer > div.container {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    }
            
                    footer > div.container > div {
                        text-align: center;
                        padding-left: 0;
                        margin-bottom: 15px;
                    }
            }

    
    @media (max-width: 725px) {
        header .container {
        flex-wrap: wrap;
        justify-content: center;
        }

        header ul {
        flex-direction: column;
        margin-top: 25px;
        width: 100%;
        text-align: center;
        }

        .product {
            width: 40%;
        } 

        #sidebar {
            width: 33%;
        }

        #content {
            width: 65%;
        }

      

        #sidebar, #content {
            min-height: auto;
        }
    }

        @media (max-width: 570px) {
            #sidebar {
                width: 100%;
            }
    
            #content {
                width: 100%;
            }

            #sidebar, #content {
                text-align: center;
            }
        }